body{
    font-family: 'PT Serif', serif;
    margin:0;
    color: gray;

}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

#top-part h1{
    margin: 0;
}

.orange-font{
    color: orange;
}

.flex-box{
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.half-width{
    width: 50%;
    padding: 0% 5%; 

}

.half-width img{
    max-height: 80%;
    max-width: 80%;
}



.gradient-link{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right, orange, tomato);
    padding: 10px 20px;
    border-radius: 20px;
    display: inline-block;
    margin-top: 10px;
}

#just-eat{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: 100%;

}

.my-recipies{
    padding: 0% 5%;    
    text-align: center;
}

.receipie-title{
    width:30%;
    margin-right: 3%;
    padding-top: 10px;
    padding: 20px 30px;
    text-align: left;
    color:black;
}

.shadow-border{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    border-radius: 20px;
}
.receipie-title img{
    width: 100%;
}


.footer{
    background-color: black;
    text-align: center;
    padding: 20px 0 40px 0;
    margin-top: 50px;
}

.recipie-cloud{
    text-align: center;
}


.recipie-cloud-items{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}

.recipie-cloud-item{
    width: 17%;
    padding-right:3%;
    
}

.recipie-cloud-item img{
    width: 100%;
}

/* .recipie-cloud-item a{
    text-decoration: none;
} */