body{
    font-family: 'PT Serif', serif;
    margin:0;
    color: gray;

}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

#top-part h1{
    margin: 0;
}

.orange-font{
    color: orange;
}

.flex-box{
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.half-width{
    width: 50%;
    padding-left: 3%;
    padding-top: 3%;    
}

.half-width img{
    max-width: 80%;
    height: auto;
}


.gradient-link{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right, orange, tomato);
    padding: 10px 20px;
    border-radius: 20px;
    display: inline-block;
    margin-top: 10px;
}

#just-eat{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;

}


.healthy-recipies{
    text-align: center;
}


.healthy-recipies-items{
    width: 80%;
    margin: auto;
    padding: 2%;
}

.healthy-recipies-item{
    width: 17%;
    padding-right:3%;
    
}

.healthy-recipies-item img{
    width: 100%;
    height: auto;
}

.my-recipies{
    padding: 0% 5%;    
    text-align: center;
}

.my-recipies .flex-box{
    align-items: stretch;
}

.my-recipies-item{
    margin-right: 3%;
    padding: 2% 2%;
    text-align: left;
    color:black;
}

.my-recipies-item img{
    width: 100%;
}

.shadow-border{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    border-radius: 20px;
}

.footer{
    background-color: black;
    text-align: center;
    padding: 20px 0 40px;
    margin-top: 50px;
}
